<div class="container">

    <h1>MY BOOKINGS</h1>

  <% if @bookings.any? %>
     <% @bookings.each.with_index(1) do |booking, index| %>
    <div class="card-trip">
        <%= cl_image_tag booking.island.photos[0].key %>
        <div class="card-trip-infos">
          <div>
            <h2>Booking: <%= booking.island.name %></h2>
            <p>From: <%= booking.start_time %> - To: <%= booking.end_time %>
              <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fas fa-trash-alt"></i>
              <% end %></p>
          </div>
          <h2 class="card-trip-pricing"><%= booking.island.price %></h2>

          <img src="https://i.ibb.co/bzQvp2D/driver.jpg" class="card-trip-user avatar-bordered" />

        </div>
      </div>
      <% end %>
    <% else %>
      <p> You have no bookings to display 😢 </p>
      <p> Wanna throw the party of your life? </p>
      <%= link_to "Check out our islands", '/islands', class: "btn btn-success" %>
    <% end %>

</div>
