<div class="container">
  <h1>My bookings</h1>

  <% if @bookings.any? %>
    <ul>
    <% @bookings.each.with_index(1) do |booking, index| %>
      <li>Booking#<%= index %> | From: <%= booking.start_time %> - To: <%= booking.end_time %>
        <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>
    </ul>

  <% else %>
    <p> You have no bookings to display 😢 </p>
    <p> Wanna throw the party of your life? </p>
    <%= link_to "Check out our islands", '/islands', class: "btn btn-success" %>

  <% end %>
</div>
